body { 
	background-image: url("../images/vintage-concrete.png");
}



.header-bar {
	text-align: center;
	border-style: double;
	border-color: #39565f;
	font-family: 'Arizonia', Helvetica, sans-serif;
	font-size: 35px;

}

h1 {
	background-color: #cdbfb5;
	color: #4c0d0c;
	margin: 0px;
}

h2 {
	text-align: center;
	font-family:'Spectral SC', serif;
	margin: 0 auto;

}

.top-images {
	display: inline-flex;
	width: 100%;
	text-align: center;
}

#top-left {
	width: 250px;
	height: 150px;
	border-style: solid;
	border-color: #39565f;
	margin-top: 5px;
	
}

#top-right {
	width: 250px;
	height: 150px;
	border-style: solid;
	border-color: #39565f;
	margin-top: 5px;
	
}

#img-middle {
	display: block;
    width: 400px;
    height: 275px;
    border-radius: 50%;
    margin: 0 auto;
    border-style: double;
    border-color: #de3f35;
}

#bar-right {
	width: 250px;
	height: 450px;
	border-style: solid;
	border-color: #39565f;
	margin-top: 5px;
}

#bar-left {
	width: 250px;
	height: 450px;
	border-style: solid;
	border-color: #39565f;
	margin-top: 5px;
}

.outside-images {
	display: inline-flex;
	width: 100%;
}


p {
	font-size: 18px;
	font-style: italic;
	text-align: center;
	font-family:'Spectral SC', serif;

}

.counters {
	display: block;
	margin: 0 auto;
	width: 250px;
}

h3 {
	text-align: center;
	font-family:'Spectral SC', serif;
	border-style: double;
	border-radius: 50px;
	border-color: #de3f35;
}